body{
    background-color:black;
    color: darkorange;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    
}
.contenedor{
    color: black;
    text-align: center;
    padding: 5%;
    background-color: darksalmon;
    height: 40px;
    


    display: inline-block    

    
    
}
.seccion{
    text-align: center;
}

